/* Global styles for the navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

.navbar-left {
  display: flex;
}

.navbar-left a {
  margin-right: 20px;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.navbar-left a:hover {
  text-decoration: underline;
}

.navbar-right button {
  background-color: #f59d71;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.navbar-right button:hover {
  background-color: #c46056;
}
